@use "../../../utils/colors"as *;
@use "../../../utils/media"as *;

.editAnimal {
    color: $black;

    .form {
        display: flex;
        flex-direction: column;
        gap: 5rem;

        .images {
            display: flex;
            gap: 2rem;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            padding: 0 2rem;

            .slide {

                .slider {
                    display: flex;
                    position: relative;
                    min-width: none;

                    @include sm {
                        align-self: center;
                        min-width: 35rem;
                    }

                    @include lg {
                        align-self: auto;
                        max-width: 35rem;
                    }

                    .left,
                    .right,
                    .del {
                        width: 4rem;
                        height: 4rem;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $light-orange;
                        padding: .5rem;
                        border-radius: 50%;
                        // box-shadow: $orange .25rem .25rem  0 0;
                        border: solid $orange .175rem;

                        .icon {
                            height: 100%;
                            fill: $black;
                        }
                    }

                    .left {
                        left: 0;
                        transform: translate(-50%, -50%);
                    }

                    .right {
                        right: 0;
                        transform: translate(50%, -50%);
                    }

                    .del {
                        top: 0;
                        right: 0;
                        transform: translate(50%, -50%)
                    }

                    .image {
                        min-width: 85vw;
                        height: 60vh;
                        position: relative;
                        z-index: 0;
                        box-shadow: $dark-blue .25rem .25rem 1rem -.5rem;
                        border-radius: 1.5rem;
                        margin: 0 auto;

                        &.noImage {
                            box-shadow: none;
                            padding: 5rem;
                            font-size: 2rem;
                            font-family: "Inter";
                            border: .5rem solid $black;
                            fill: $black;
                            text-align: center;
                            line-height: 1.2;
                        }

                        .elem {
                            border-radius: 1.5rem;
                        }
                    }
                }
            }

            .file {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                width: 100%;
                height: 100%;
                z-index: 1;
                position: relative;
                opacity: 0;
            }

            .text {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                z-index: 0;
                position: relative;
            }
        }

        .common {
            .heading {
                font-size: 2rem;
                margin: 0;
                width: 100%;
                text-align: center;
                color: $black;
            }

            .mainForm {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .breedAndAge {
                    display: flex;
                    gap: 2rem;

                    .breed {
                        flex-grow: 2;
                    }

                    .age {
                        flex-grow: 1;
                        flex-shrink: 3;
                    }
                }

                .other {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    font-size: 1.5rem;

                    .otherItem {
                        display: flex;
                        justify-content: space-between;
                        gap: .5rem;

                        .button {
                            flex-grow: 2;
                        }
                    }
                }
            }
        }

        .optional {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .heading {
                font-size: 2rem;
                margin: 0;
                width: 100%;
                text-align: center;
                color: $black;
            }

            .secondaryForm {
                display: flex;
                flex-direction: column;
                gap: 5rem;

                .videoWithInput {
                    display: flex;
                    flex-direction: column;
                    padding: 0 2rem;
                    gap: 2rem;

                    .video {
                        aspect-ratio: 16 / 9;
                        width: 100%;

                        &.noVideo {
                            box-shadow: none;
                            padding: 2rem;
                            font-size: 2rem;
                            font-family: "Inter";
                            border: .5rem solid $black;
                            fill: $black;
                            border-radius: 2rem;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            line-height: 1.2;
                        }

                        .icon {
                            width: 50%;
                        }
                    }
                }

                .extra {
                    padding: 0 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .needs,
                    .cautions {

                        .heading {
                            font-size: 1.25rem;
                            padding: 0 2rem;
                            color: $black;
                            font-weight: 800;
                            margin: 0;
                            text-align: left;
                        }

                        .input {
                            width: 100%;
                            height: 4rem;
                            background-color: $light-orange;
                            box-shadow: $orange .25rem .25rem;
                            color: $black;
                            display: flex;
                            border-radius: 2rem;
                            align-items: center;
                            padding: 1rem 2rem;
                            gap: 1rem;
                            font-size: 1rem;

                            .elem {
                                width: 100%;
                                height: 100%;
                                font-family: "Inter";
                            }

                            .icon {
                                width: 2rem;
                                height: 100%;
                                fill: $black;
                            }
                        }
                    }

                    .list {
                        padding: 1rem 2rem 1rem 3rem;
                        font-size: 1.5rem;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        .item {
                            display: flex;
                            align-items: center;

                            .text {
                                inline-size: calc(100% - 2rem);
                                overflow-wrap: break-word;
                            }

                            .icon {
                                fill: $black;
                                width: 1.75rem;
                                height: 100%;
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }

        .submit {
            padding: 0 2rem 3rem 2rem;
        }
    }
}