@use "../../../utils/colors"as *;
@use "../../../utils/media"as *;

.editAnimal {

    .createOrSearch {
        padding: 2rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;

        .create {
            @include md {
                width: 50%;
                margin: 0 auto;
            }

            @include xl {
                width: 35%;
                margin: 0 auto;
            }
        }

        .heading {
            width: 100%;
            font-size: 1.25rem;
            color: $black;
            font-weight: 100;
            text-align: center;
            width: 75%;
            margin: 0 auto;
        }

        .search {
            @include md {
                width: 50%;
                margin: 0 auto;
            }

            @include xl {
                width: 35%;
                margin: 0 auto;
            }
        }
    }

    .animals {
        padding: 0 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 3rem;
    }
}