@use "../../utils/colors"as *;
@use "../../utils/media"as *;

.indivAnimal {
    font-family: "Inter";
    
    .main {
        min-height: calc(100vh - 1.5rem - 5rem);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        @include sm {
            min-height: calc(100vh - 3rem - 5rem);
        }

        .slider {
            display: flex;
            position: relative;
    
            .left, .right {
                width: 3.5rem;
                height: 3.5rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .icon {
                    height: 100%;
                    fill: $black;
                }
            }
    
            .left {
                left: 0;
            }
    
            .right {
                right: 0;
            }
    
            .image {
                width: 90%;
                height: 70vh;
                position: relative;
                z-index: 0;
                box-shadow: $blue .5rem .5rem 0 0;
                border-radius: 1.5rem;
                margin: 0 auto;
    
                .elem {
                    border-radius: 1.5rem;
                }
            }
        }
    
        h2.name {
            font-size: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-grow: 2;
            background-color: $light-blue;
            color: $black;
            width: auto;
            margin: 0;
        }
    }
}