.home {
  color: #2B363B;
  font-size: 1rem;
}
.home .titleDiv {
  font-size: 2rem;
  border: 5px solid #00aeef;
  background-color: white;
  border-top: 0;
  width: 100%;
  height: 15vh;
  margin-bottom: -6vh;
  margin-top: -6vh;
  position: relative fixed;
  text-align: center;
}
.home .titleDiv h1 {
  margin-top: 5vh;
}
@media (min-width: 768px) {
  .home .titleDiv {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .home .banner {
    background-color: #FDE3D8;
    display: flex;
    align-items: center;
  }
}
.home .banner .video {
  width: 100%;
  background-color: #FDE3D8;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
.home .banner .video iframe.iframe {
  width: 90%;
  aspect-ratio: 16/9;
}
.home .banner .intro {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home .banner .intro h3.title {
  width: 75%;
  font-size: 2rem;
}
@media (min-width: 992px) {
  .home .banner .intro h3.title {
    font-size: 2.5rem;
    width: 100%;
  }
}
.home .banner .intro p.info {
  padding: 0 1rem;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5rem;
}
@media (min-width: 992px) {
  .home .banner .intro p.info {
    font-size: 1.5rem;
  }
}
.home .events {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
.home .events h2.heading {
  margin: 0;
  width: 100%;
  color: #2B363B;
  font-size: 2.5rem;
  text-align: center;
}
.home .events ul.choseEventMobile {
  display: block;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  font-size: 1.75rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .home .events ul.choseEventMobile {
    display: none;
  }
}
.home .events ul.choseEventMobile li.num {
  width: 5rem;
  height: 5rem;
  background-color: #FDE3D8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home .events .eventsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .home .events .eventsContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .home .events .eventsContainer {
    flex-wrap: nowrap;
  }
}
.home .events .eventsContainer .event {
  flex-shrink: 2;
  background-color: #2B363B;
  color: #ffffff;
  border-radius: 1rem;
  font-size: 1rem;
  flex-basis: 100%;
  display: none;
}
@media (min-width: 768px) {
  .home .events .eventsContainer .event {
    display: block;
  }
}
@media (min-width: 768px) {
  .home .events .eventsContainer .event {
    flex-basis: calc(50% - 3rem);
  }
}
.home .events .eventsContainer .event iframe {
  width: 100%;
  aspect-ratio: 1.25/1;
  border-radius: 1rem;
}
.home .events .eventsContainer .event .eventInfo {
  padding: 2rem;
}
.home .events .eventsContainer .event .eventInfo .eventTitle {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .home .events .eventsContainer .event .eventInfo .eventTitle {
    font-size: 2rem;
  }
}
.home .events .eventsContainer .event .eventInfo .simple {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
  padding: 1rem 1rem;
}
@media (min-width: 768px) {
  .home .events .eventsContainer .event .eventInfo .simple {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}
.home .animals {
  padding: 2rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.home .animals .heading {
  margin: 0;
  width: 100%;
  color: #2B363B;
  font-size: 2.5rem;
  text-align: center;
}
.home .animals .animalsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.home .animals .allAnimals {
  width: 100%;
  height: 4rem;
  transition: none;
  background: #FDE3D8;
  border: none;
  box-shadow: #f7931d 0.25rem 0.25rem 0 0;
  border-radius: 2rem;
  font-family: "Inter";
  color: #2B363B;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .home .animals .allAnimals {
    width: 50%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=home.module.css.map */