@use "../utils/colors"as *;
@use "../utils/media"as *;

.home {
    color: $black;
    font-size: 1rem;

    .title {
        font-size: 2rem;    
        width: 65%;
        margin: 0 auto;
        text-align: center;
        
        @include md {
            font-size: 3rem;
        }
    }


    .banner {
        @include lg {
            background-color: $light-orange;
            display: flex;
            align-items: center;
        }

        .video {
            width: 100%;
            background-color: $light-orange;
            padding: 2rem 0;
            display: flex;
            justify-content: center;

            iframe.iframe {
                width: 90%;
                aspect-ratio: 16 / 9;
            }
        }

        .intro {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h3.title {
                width: 75%;
                font-size: 2rem;

                @include lg {
                    font-size: 2.5rem;
                    width: 100%;
                }
            }

            p.info {
                padding: 0 1rem;
                font-size: 1.25rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                line-height: 1.5rem;

                @include lg {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .events {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        // flex-wrap: nowrap;
        gap: 3rem;
        justify-content:  center;
        
        h2.heading {
            margin: 0;
            width: 100%;
            color: $black;
            font-size: 2.5rem;
            text-align: center;
        }

        ul.choseEventMobile {
            display: block;
            display: flex;
            width: 50%;
            justify-content: space-evenly;
            font-size: 1.75rem;
            margin: 0 auto;

            @include md {
                display: none;
            }

            li.num {
                width: 5rem;
                height: 5rem;
                background-color: $light-orange;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }

        .eventsContainer {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            justify-content: center;
            align-items: center;

            @include md {
                flex-direction: row;
                flex-wrap: wrap;
            }

            @include xl {
                flex-wrap: nowrap;
            }

            .event {
                flex-shrink: 2;
                background-color: black;
                color: $white;
                border-radius: 1rem;
                box-shadow: $orange .25rem .01rem 0 0;
                font-size: 1rem;
                flex-basis: 100%;
                display: none;

                &.show {
                    display: block;
                }

                @include md {
                    display: block;
                }

                @include md {
                    flex-basis: calc(50% - 3rem);
                }
    
                .map {
                    width: 100%;
                    aspect-ratio: 1.25 / 1;
                    border-top-right-radius: 3%;
                    border-top-left-radius: 3%;                
                }
    
                .eventInfo {
                    padding: 2rem;
    
                    .eventTitle {
                        font-size: 1.5rem;
    
                        @include md {
                            font-size: 2rem;
                        }
                    }
    
                    .simple {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        line-height: 1.5;
                        padding: 1rem 1rem;
    
                        @include md {
                            font-size: 1.5rem;
                            padding: 1rem 2rem;
                        }
                    }
                }
            }
        }
    }

    .animals {
        padding: 2rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        
        
        .heading {
            margin: 0;
            width: 100%;
            color: $black;
            font-size: 2.5rem;
            text-align: center;
        }
        
        .animalsContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
        }

        .allAnimals {
            width: 100%;
            height: 4rem;
            transition: none;
            background: $light-orange;
            border: none;
            box-shadow: $orange .25rem .25rem 0 0;
            border-radius: 2rem;
            font-family: "Inter";
            color: $black;
            cursor: pointer;
            font-size: 1.75rem;
            font-weight: 700;

            @include md {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}