@use "../../utils/colors" as *;

.bar {
    width: 100%;
    height: 4rem;
    background-color: $gray;
    box-shadow: $blue .5rem .5rem 0 0;
    color: $black;
    display: flex;
    border-radius: 2rem;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
    position: relative;
    z-index: 1;

    .icon {
        fill: $black;
        width: 2rem;
        height: 100%;
    }

    .content {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        position: relative;        
        z-index: 0;
        background-color: $gray;
        
        .display {
            position: relative;

            .title {
                display: flex;
                font-size: 1.25rem;
                font-weight: 650;
                fill: $black;
                gap: 1rem;
                cursor: pointer;
                width: 100%;
                position: relative;
                z-index: 1;
    
                .icon {
                    width: 1rem;
                    transition: transform .5s;
    
                    &.flipped {
                        transform: translateY(-.125rem) rotate(180deg);
                    }
                }
            }

            ul.dropdown {
                width: 12.5rem;
                height: 0;
                visibility: hidden;
                font-size: 1.25rem;
                justify-content: space-around;
                position: absolute;
                background-color: $gray;
                display: flex;
                gap: 1.25rem;
                flex-direction: column;
                border-radius: 0 0 2rem 2rem;
                box-shadow: $blue .5rem .5rem 0 0;
                z-index: -1;
                padding: 1rem 2rem 2rem 2rem;
                right: calc(-6.25rem + 50%);

                
                &.droped {
                    visibility: visible;
                    height: auto;
                    top: calc(100% + 1rem);
                }
    
                li.item {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    font-size: .85em;
    
                    .check {
                        width: 1.5rem;
                        height: 1.5rem;
                        border: .25rem solid $blue;
                        border-radius: .25rem;
                        display: grid;
                        justify-content: center;
                        align-content: center;
    
                        .checkbox {
                            grid-row: 1 / 2;
                            grid-column: 1 / 2;
                            cursor: pointer;
                            appearance: none;
                            width: 1.5rem;
                            height: 1.5rem;
        
                            &:checked {
                                &~ .mark {
                                    width: 1rem;
                                    height: .25rem;
                                }
                            }
                        }
                    }

                    .mark {
                        width: 0;
                        height: 0;
                        transition: width .25s;
                        align-self: center;
                        justify-self: center;
                        grid-row: 1 / 2;
                        grid-column: 1 / 2;
                        pointer-events: none;
                        background-color: $blue;
                        transform: rotate(-45deg);
                        border-radius: .125rem;
                    }
                }
            }
        }
    }
}