.adminMain{
  width: 100vw;
  height: 100vh;
}

.pages{
  margin-top: 25vh;
  width: 50vw;
  background: whitesmoke;
  height: 50vh;
  display: inline-flex;
  margin-left: 25%;
}

.adminButton{
  margin-left: 25%;
  margin-top: 40%;
  width: 50%;
  height: 50px;
}
.adminButton:hover{
  background: orange;
  color: white;
  width: 50%;
  height: 60px;
  margin-top: 38.5%
}

.animals{
  border: 2px solid black;
  width: 50%;
}

.events{
  border: 2px solid black;
  width: 50%;
}