.animalMain {
  background-color: lightgray;
  height: calc(100vh - 9vh);
  width: 100vw;
  margin-top: 7vh;
  position: absolute;
  left: 0;
  display: inline-flex;
}

.removeAnimals {
  .findAni{
    background: white;
    color: black;
    width: 80px;
    height: 40px;
    margin-left: 45%;
    &:hover{
      background: black;
      color: white;
      width: 85px;
      height: 42.5px;
    }
  }
  border-left: 1px solid black;
  width: 50vw;
  height: calc(100vh - 9vh);
  .animalInputs {
    margin-top: 15px;
    border: 1px solid black;
    font-weight: normal;
    font-family: sans-serif;
    font-size: large;
    width: 30vw;
    margin-left: 10vw;
    &:focus {
      border: 2px solid black;
      font-weight: bolder;
      font-family: monospace;
      font-size: larger;
      height: 5vh;
    }
  }
  label{
    margin-left: 20%;
    font-size: large;
  }
    select{
      width: 20vw;
      font-size: large;
      text-align: center;
    }
    .delDiv{
      width: 40vw;
      height: 65vh;
      margin-left: 5vw;
      justify-content: center;
      background-color: white;
      text-align: center;
      .delBot{
        display: inline-flex;
        // margin-top: -1vh;
        .delete{
          width: 90px;
          height: 40px;
          font-size: 20px;
          margin-top: 1.5vh;
          margin-left: 5vw;
          filter: brightness(0%);
          background: url("/");
          transition: 1s;
          border: none;
          &:hover{
            filter: brightness(100%);
            cursor: pointer;
            transition: 1s;
          }
        }
        .delName{
          font-size: 35px;
          margin-left: 5vw;
          margin-top: 1vh;
        }
      }
      .delImg{
        height: 55vh;
        width: 39vw;
        margin-top: 1vh;
        background-color: white;
      }
    }
    a{
      margin-left: 43%;
      p{
        margin-left: 47%;
      }
    }
}

.createAnimal {
  border-right: 1px solid black;
  width: 40vw;
  height: calc(100vh - 9vh);
  margin-left: -10vw;
  .animalInputs {
    margin-top: 5px;
    border: 1px solid black;
    font-weight: normal;
    font-family: sans-serif;
    font-size: large;
    width: 30vw;
    margin-left: 10vw;
    &:focus {
      border: 2px solid black;
      font-weight: bolder;
      font-family: monospace;
      font-size: larger;
      height: 5vh;
    }
  }
  .spadeDiv {
    display: inline-flex;
    margin-left: 40%;
    .spade {
      color: black;
      font-size: 20px;
      margin-top: 5px;
    }
    .animalSpade {
      width: 40px;
      height: 40px;
      font-size: 40px;
      margin-left: 5px;
    }
  }
  .submit{
    margin-left: 45%;
    width: 90px;
    height: 35px;
    &:hover{
      background-color: white;
      color: black;
      font-weight: bolder;
      width: 130px;
      height: 40px;
      margin-left: 43%;
      font-size: 30px;
      border: 2px solid black;
      cursor: pointer;
    }
  }
  .click{
    transition: all .5s;
    border-radius: 58%;
    margin-left: 47%;
    width: 60px;
    height: 60px;
    border: 2px solid blue;
    font-size: smaller;
    vertical-align: center;
    color: black;
    // text-shadow: 2px 2px white;
    &:hover{
      color: white;
      background: linear-gradient(to bottom, yellow, orangered, blue);
    }
  }
  .clickedButton{
    transition: all .5s;
    border-radius: 58%;
    margin-left: 47%;
    width: 60px;
    height: 60px;
    border: 2px solid blue;
    background-color: rgb(28, 200, 28);
    color: white;
    font-size: xx-large;
    &:hover{
      transition: all .5s;
      color: black;
      border-radius: 58%;
      margin-left: 48%;
      width: 60px;
      height: 60px;
      border: 2px solid blue;
      background-color: rgb(28, 200, 28);
      color: white;
      font-size: xx-large;
      color: blue;
    }
  }
}
