.animalMain {
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
  margin-top: 9.9vh;
  position: absolute;
  left: 0;
  display: inline-flex;
}

.removeAnimals {
  border-left: 1px solid black;
  width: 50vw;
  height: 91vh;
}
.removeAnimals .animalInputs {
  margin-top: 15px;
  border: 1px solid black;
  font-weight: normal;
  font-family: sans-serif;
  font-size: large;
  width: 30vw;
  margin-left: 10vw;
}
.removeAnimals .animalInputs:focus {
  border: 2px solid black;
  font-weight: bolder;
  font-family: monospace;
  font-size: larger;
  height: 5vh;
}
.removeAnimals .submit {
  margin-left: 46%;
  margin-top: 15px;
  width: 90px;
  height: 35px;
}
.removeAnimals .submit:hover {
  background-color: red;
  color: white;
  font-weight: bolder;
  width: 130px;
  height: 40px;
  margin-left: 43%;
  font-size: 30px;
  border: 2px solid black;
  cursor: pointer;
}
.removeAnimals .click {
  margin-top: 15px;
  transition: all 0.5s;
  border-radius: 58%;
  margin-left: 48%;
  width: 60px;
  height: 60px;
  border: 2px solid red;
  font-size: smaller;
  vertical-align: center;
  color: white;
}
.removeAnimals .click:hover {
  color: white;
  background: linear-gradient(to bottom, white, gray, black);
}
.removeAnimals .clickedButton {
  margin-top: 15px;
  transition: all 0.5s;
  border-radius: 58%;
  margin-left: 48%;
  width: 60px;
  height: 60px;
  border: 2px solid white;
  background-color: red;
  color: white;
  font-size: xx-large;
}
.removeAnimals .clickedButton:hover {
  transition: all 0.5s;
  color: black;
  border-radius: 58%;
  margin-left: 48%;
  width: 60px;
  height: 60px;
  border: 2px solid white;
  background-color: orangered;
  color: white;
  font-size: xx-large;
}
.removeAnimals label {
  margin-left: 20%;
  font-size: large;
}
.removeAnimals select {
  width: 20vw;
  font-size: large;
  text-align: center;
}
.removeAnimals .delDiv {
  width: 40vw;
  height: 65vh;
  margin-left: 5vw;
  justify-content: center;
  background-color: white;
  text-align: center;
}
.removeAnimals .delDiv .delBot {
  display: inline-flex;
}
.removeAnimals .delDiv .delBot .delete {
  width: 90px;
  height: 40px;
  font-size: 20px;
  margin-top: 1.5vh;
  margin-left: 5vw;
  filter: brightness(0%);
  background: url("/");
  transition: 1s;
  border: none;
}
.removeAnimals .delDiv .delBot .delete:hover {
  filter: brightness(100%);
  cursor: pointer;
  transition: 1s;
}
.removeAnimals .delDiv .delBot .delName {
  font-size: 35px;
  margin-left: 5vw;
  margin-top: 1vh;
}
.removeAnimals .delDiv .delImg {
  height: 55vh;
  width: 39vw;
  margin-top: 1vh;
  background-color: white;
}
.removeAnimals a {
  margin-left: 43%;
}
.removeAnimals a p {
  margin-left: 47%;
}

.createAnimal {
  border-right: 1px solid black;
  width: 50vw;
  height: 91vh;
}
.createAnimal .animalInputs {
  margin-top: 5px;
  border: 1px solid black;
  font-weight: normal;
  font-family: sans-serif;
  font-size: large;
  width: 30vw;
  margin-left: 10vw;
}
.createAnimal .animalInputs:focus {
  border: 2px solid black;
  font-weight: bolder;
  font-family: monospace;
  font-size: larger;
  height: 5vh;
}
.createAnimal .spadeDiv {
  display: inline-flex;
  margin-left: 40%;
}
.createAnimal .spadeDiv .spade {
  color: black;
  font-size: 20px;
  margin-top: 5px;
}
.createAnimal .spadeDiv .animalSpade {
  width: 40px;
  height: 40px;
  font-size: 40px;
  margin-left: 5px;
}
.createAnimal .submit {
  margin-left: 45%;
  width: 90px;
  height: 35px;
}
.createAnimal .submit:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
  width: 130px;
  height: 40px;
  margin-left: 43%;
  font-size: 30px;
  border: 2px solid black;
  cursor: pointer;
}
.createAnimal .click {
  transition: all 0.5s;
  border-radius: 58%;
  margin-left: 47%;
  width: 60px;
  height: 60px;
  border: 2px solid blue;
  font-size: smaller;
  vertical-align: center;
  color: black;
}
.createAnimal .click:hover {
  color: white;
  background: linear-gradient(to bottom, yellow, orangered, blue);
}
.createAnimal .clickedButton {
  transition: all 0.5s;
  border-radius: 58%;
  margin-left: 47%;
  width: 60px;
  height: 60px;
  border: 2px solid blue;
  background-color: rgb(28, 200, 28);
  color: white;
  font-size: xx-large;
}
.createAnimal .clickedButton:hover {
  transition: all 0.5s;
  color: black;
  border-radius: 58%;
  margin-left: 48%;
  width: 60px;
  height: 60px;
  border: 2px solid blue;
  background-color: rgb(28, 200, 28);
  color: white;
  font-size: xx-large;
  color: blue;
}/*# sourceMappingURL=animal.css.map */