.main {
  width: 100%;
}

.homeDiv{
  background-image: url("../public/bulldog.jfif");
  /* background: black; */
  background-size: cover;
  background-position-x: center;
}

.homeAdopt{
  width: 180px;
  height: 70px;
  border-radius: 40px;
  background-color: gray;
  color: black;
  transition: 1s;
}

.clickedAdopt{
  transition: all 1s;
  border-radius: 58%;
  width: 80px;
  height: 80px;
  border: 2px solid blue;
  background-color: rgb(28, 200, 28);
  color: white;
  font-size: xx-large;
}

.clickedButton:hover{
  height: 80px;
  width: 80px;
  background: white;
}


.homeAdopt:hover{
  cursor: pointer;
  height: 70px;
  border: 4px solid black;
}

.homeHeader{
  font-size: 50px;
}

.homeDiv:hover{
  color: black;
}

.homeHeader:hover{
  color: orange;
  cursor: default;
}

.animalBanner{
  border-radius: 30px;
  -webkit-text-stroke-width: 2px solid black;
}

.animalBanner img{
  border-radius: 25px;
}

.name{
  margin-left: -70%;
  font-size: 35px;
}

.text {
  display: inline-flex;
  font-size: 25px;
  transition: 0.3s ease-in-out all;
}

.name:hover{
  color: white;
  font-size: 38px;
  cursor: default;
}

.text:hover{
  color: white;
  font-size: 27px;
  cursor: default;
}

.breed{
  margin-left: 8px;
}

.breed:hover{
  cursor: default;
}

.eventItemLarge {
  color: whitesmoke;
  text-decoration: none;
}

.eventItemLarge:hover{
  color: orange;
  cursor: pointer;
  text-shadow: 0px 0px 7px orangered;
  font-size: 30px;
  font-weight: bold;
}

.eventImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  margin-bottom: -100%;
}

.eventText{
  margin-top: 140px;
}

.eventP{
  color: whitesmoke;
  font-size: 20px;
}
  
.homeAni{
  width: "40%",
}

.noAnimalsErr{
  font-size: 150px;
  margin-top: 50px;
  margin-bottom: -50px;
}

.map{
  z-index: -1;
}

