.animalBanner:hover{
  /* border: 1.5px solid orange; */
  color: orange;
  box-shadow: 4px 4px orange;
}

.name{
  margin-left: -70%;
  font-size: 35px;
}

.text {
  display: inline-flex;
  font-size: 40px;
}

.name:hover{
  color: orange;
  font-size: 38px;
}

.text:hover{
  color: orange;
  font-size: 30px;
}

.breed{
  margin-left: 8px;
}