a{
  color: white;
  text-decoration: "none";
  font-size: 25px;
}

a:hover{
  color: orange;
  text-shadow: 0px 0px 10px black;
  font-size: 30px;
  font-weight: bold;
}

.navbar{
  background-color: #e44d17;
  height: 9vh;
}

.navbar:hover{
  background-color: orangered;
}

.logo:hover{
  filter: brightness(1.4);
}